body {
    margin: 0; 
    padding: 0; 
    min-width: 100%!important;
}

@media only screen and (min-width: 601px) {
    .content {width: 600px !important;}
    .col425 {
        width: 425px!important;
    }
    .col245 {width: 245px!important;}
}

.content {
    width: 100%; 
    max-width: 600px;
} 
.content-main {
    background:white;
}
.content-header {
    background:white;
}

a.site-link {
    padding:10px;
    text-decoration: none;
    font-family: sans-serif;
    border:1px solid;
}
a.site-link:hover {
    border:2px solid !important;
}

.content-main a {
    text-decoration: none;
    font-weight: bold;
}
.content-main a:hover {
    opacity: 0.5;
}

.header {
    padding: 20px 30px 20px 30px;
}
.header-button {
    height: 60px;
}
.image-background {
    background-repeat: no-repeat; 
    background-position: 100% 100%;
    background-size: cover;
}

.header-image-content {
    padding: 40px 30px 20px 30px;
}
.footer {
    padding: 20px 30px 20px 30px;
}
.icon {
    margin-bottom:20px;
    opacity: 0.9;
}
.phone {
    margin:5px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white !important;
    opacity:0.6;
}
.address {
    margin:5px;
    font-size: 16px;
    font-family: sans-serif;
    color: white !important;
    opacity:0.6;
}

.icon-social {
    padding:5px;
    opacity:0.6;
    transition:all 0.2s ease-in-out;
}
.icon-social:hover {
    transform:scale(1.2);
    opacity:0.8 !important;
}

.borderbottom {border-bottom: 1px solid #f2eeed;}

.title {font-size: 33px; line-height: 38px; font-weight: bold;}
.subtitle {font-size: 15px; font-family: sans-serif; letter-spacing: 10px;}

.h1 {font-size: 33px; line-height: 38px; font-weight: bold;}
.h1, .h2, .bodycopy {font-family: sans-serif;}
.innerpadding {padding: 30px 30px 30px 30px;}
.innerpadding15 {padding: 15px 15px 15px 15px;}

.borderbottom {border-bottom: 1px solid #f2eeed;}
.h2 {padding: 0 0 15px 0; font-size: 24px; line-height: 28px; font-weight: bold;}
.bodycopy {font-size: 16px; line-height: 22px;}



