html    
    head
    title #{title}
    style 
        include emails.css    
    body    
        div(class="header") !{header}  
        h1 Reset password 
        p Password: #{password}
        div(class="footer") !{footer}        
