html    
    head
    title This is my title
    body    
        h1 Confirmation de compte email 
        p Validez votre compte email en clickant sur le lien suivant
        a(href=validationLink) Link