html    
    head
    title This is my title
    body    
        h1 Confirmacion de cuenta de correo
        p Confirma tu cuenta de correo clickando en el link siguiente
        a(href=validationLink) Link