html    
    body    
        h1 Email validation confirmation
        p Nothing to see
        p Validation result : #{result}
        if (result == true)
            p This text is only seen if validation is true
        else
            p This text is only seen if validation is false
        p This text is always seen         